<div style="background: #dff4ff; border: 1px solid #a7cedf; color: #34404f; margin: 5px; padding: 5px;">
	By <strong>[$PAGE_USER_NAME$]</strong> ([$PAGE_DATE_UPDATE$])<br />
	Page Title: [$PAGE_TITLE$]
</div>

[$PAGE_CONTENT$]