#macro (processColumn $changedLine)
	#set ($changedLine = $changedLine.replaceAll(" ", "&nbsp;"))
	#set ($changedLine = $changedLine.replaceAll("\t", "&nbsp;&nbsp;&nbsp;"))

	#set ($changedLine = $changedLine.replaceAll("<ins>", "<ins style=\"background: #E6FFE6\">"))
	#set ($changedLine = $changedLine.replaceAll("<del>", "<del style=\"background: #FFE6E6\">"))

	#if ($changedLine.equals(""))
		<td>&nbsp;</td>
	#elseif ($changedLine.equals($contextLine))
		<td style="background: #EEEEEE">&nbsp;</td>
	#elseif ($changedLine.equals("<ins></ins>"))
		<td style="background: #E6FFE6">&nbsp;</td>
	#elseif ($changedLine.equals("<del></del>"))
		<td style="background: #FFE6E6">&nbsp;</td>
	#else
		<td>$changedLine</td>
	#end
#end

#set ($size = $sourceResults.size())

#if ($size > 0)
	#set ($size = $size - 1)

	<table width="100%">

	#foreach ($count in [0..$size])
		#set ($sourceResult = $sourceResults.get($count))
		#set ($targetResult = $targetResults.get($count))

		<tr>
			<td style="vertical-align: top;" width="50%">
				$languageUtil.get($locale, "line") $sourceResult.getLineNumber()
			</td>
			<td style="vertical-align: top;" width="50%">
				$languageUtil.get($locale, "line") $targetResult.getLineNumber()
			</td>
		</tr>
		<tr>
			<td>
				<table style="border-collapse: separate; border-spacing: 5pt; width: 100%;">

				#foreach ($changedLine in $sourceResult.getChangedLines())
					<tr style="vertical-align: top;">
						#processColumn($changedLine)
					</tr>
				#end

				</table>
			</td>
			<td>
				<table style="border-collapse: separate; border-spacing: 5pt; width: 100%;">

				#foreach ($changedLine in $targetResult.getChangedLines())
					<tr style="vertical-align: top;">
						#processColumn($changedLine)
					</tr>
				#end

				</table>
			</td>
		</tr>
	#end

	</table>
#end