Dear [$TO_NAME$],<br /><br />

A [$CONTENT_TYPE$] named "[$CONTENT_TITLE$]" which belongs to <a href="[$REPORTED_USER_URL$]">[$REPORTED_USER_NAME$]</a> ([$REPORTED_USER_ADDRESS$]) was flagged as inappropriate by [$REPORTER_USER_NAME$] ([$REPORTER_USER_ADDRESS$]). The reason for reporting abuse was "[$REASON$]" and it was reported on [$DATE$].<br /><br />

The content can be seen in context at:

[$CONTENT_URL$]<br /><br />

You are receiving this email because you are administrator of [$SITE_NAME$]. Please review the content in this community.<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />