Dear [$TO_NAME$],<br /><br />

Please verify your email address for [$PORTAL_URL$] at [$EMAIL_VERIFICATION_URL$].<br /><br />

Your verification code is [$EMAIL_VERIFICATION_CODE$]

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />